/*
font-family: 'Poppins', sans-serif; Medium 500
font-family: 'Roboto', sans-serif; Light 300 Medium 500 Bold 700

color: b6eb7a  #f7f7ee #fb7813 #17706e
https://colorhunt.co/palette/189615
*/

body, html {
    height: 100%;
    font-family: 'Roboto';
    font-size: 16px;
    color: #252525;
    margin: 0 auto;
    line-height: 1.5;
}

p{
    margin: 0;
    padding: 15px 0px;
}

/*div {
    border: 1.5px solid black;
    margin: 0 auto;
}*/

h1 {    
    font-size: 48px;
    background-color: #111;
    color: #fff;
    padding: 20px 15px;
    letter-spacing: 10px;
    margin: 0px auto;
    width: fit-content;
    border: 0px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 10px 10px 2.5px 0px;
}

h3 {
    font-size: 20px;
    margin: 0;
    border: 0;
    padding: 0px 10px 10px 0px;
}

h4 {
    font-size: 16px;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
}

h5 {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    border: 0;
    padding: 0;
}

#home-card {
    font-family: 'Poppins';
    text-align: center;
}
.bgimg {
    background-image: url("./images/Japan-Background.png");
    height: 100%;
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#home-card > h3 {
    font-size: 20px;
    color: white;
    margin: 0 auto;
    letter-spacing: 4px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 6px;
}

#profile-card {
    background-color: #f7f7ee;
    margin: 0;
    border: 0;
    padding: 10px 10px 2.5px 0px;
}

#profile-card > img {
    margin: 0 auto;
}

.details-container {
    font-size: 18px;
}

.details-container > h3 {
    padding: 0px;
    font-size: 18px;
}
.details-container > ul {
    list-style: none;
    padding-left: 0px;
}

#experience-card {
    background-color: #f7f7ee;
    margin: 0;
    border: 0;
    padding: 10px;
}

#abilities-card {
    background-color: #f7f7ee;
    margin: 0;
    border: 0;
    padding: 10px 10px 2.5px 0px;
}

#contact-card {
    background-color: #252525;
    color: #f7f7ee;
    margin: 0;
    border: 0;
    padding: 10px;
    text-align: center;
}

#contact-card > h2 {
    margin: 15px 20px;
    padding: 25px;
}

.profile-pic {
    border-radius: 50%;
    border: 2.5px solid #17706e;
}

a {
    color: #f7f7ee;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #494949;
    text-decoration: none;
}
    
.logo-size {
    width: 100px; 
}

.list-inline {
    list-style: none;
    padding-left: 0px;
    margin: 0px 0px 25px 0px;
  }

.list-inline > li {
    display: inline; 
    padding: 0px 20px;
  }

i {
    font-size: 50px;
}

.container {
    width: 700px;
    margin: 0 auto;
    border: 0px;
}
@media (max-width: 720px) {
    .container {
      width: 500px;
    }
}
@media (max-width: 540px) {
    .container {
      width: 300px;
    }
}

.card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

.card > .details-container {
    flex-grow: 1;
    padding-left: 15px;
  }

.card > a {
    padding-right: 15px;
}

.fa-circle {
    font-size: 16px;
}

.circle-full {
    color: #252525;
}

.circle-empty {
    color: #969696;
}

table {
    table-layout: fixed ;
    width: 100% ;
    padding: 10px;
  }
td {
    width: 25% ;
  }

.table-line {
    margin: 40px 0px; border-color: #727878; opacity: 0.2; filter:alpha(opacity=20);
}


  
  

  
  
  
  